@model Online_Shopping.Models.Size

@{
    ViewBag.Title = "AddSize";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <div class="col-xl-4">
        <div class="card card-statistics">
            <div class="card-header">
                <div class="card-heading">
                    <h4 class="card-title">Add Category</h4>
                </div>
            </div>
            <div class="card-body">
                @using (Html.BeginForm(FormMethod.Post))
                {
                    @Html.AntiForgeryToken()

                    <div class="form-horizontal">
                        <h4>Size</h4>
                        <hr />
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                        @Html.HiddenFor(model => model.SizeID)

                        <div class="form-group">
                            <div class="col-md-10">
                                <label>Size Name</label>
                                @Html.EditorFor(model => model.SizeName, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.SizeName, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-10">
                                <label>Dimension</label>
                                @Html.EditorFor(model => model.Dimension, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Dimension, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <input type="submit" value="Add Category" class="btn btn-primary" />
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
    <div class="col-xl-8">
        <div class="card card-statistics">
            <div class="card-body">
                <div class="export-table-wrapper table-responsive">
                    <table id="export-table" class="table table-bordered">
                        <thead class="thead-light">
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(z => z.SizeName)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Dimension)
                                </th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in ViewBag.SizeList)
                            {
                                <tr>
                                    <td>
                                        @item.SizeName
                                    </td>
                                    <td>
                                        @item.Dimension
                                    </td>
                                    <td>
                                        @Html.ActionLink(" ", "AddSize", new { id = item.SizeID }, new { @class = "btn btn-primary zmdi zmdi-edit" })
                                        @Html.ActionLink(" ", "Delete", new { id = item.SizeID }, new { @class = "btn btn-danger zmdi zmdi-delete" })
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
