@model IEnumerable<Online_Shopping.Models.Size>

@{
    ViewBag.Title = "SizeList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>SizeList</h2>

<p>
    @Html.ActionLink("Create New", "AddSize")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SizeName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Dimension)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.SizeName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Dimension)
        </td>
        <td>
            @Html.ActionLink("Edit", "AddSize", new { id=item.SizeID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.SizeID })
        </td>
    </tr>
}

</table>
